In [4]:
import pandas as pd
from sqlalchemy import create_engine
from pandas_profiling import ProfileReport
from pandasgui import show

In [5]:
engine = create_engine('mysql+pymysql://root:123456@localhost:3306/stockdata')
#转成十进制显示，不成功
#pd.set_option('display.float_format', '{:.2g}'.format)
#pd.Series(data=[0.00000001])
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [6]:
sql_query = 'select * from stockinfobase;'

In [7]:
sql_query = 'select * from stockinfobase;'
df_read = pd.read_sql_query(sql_query, engine)
df_read["ts_code"] = df_read["ts_code"].apply(lambda x:x[0:6])
df_read

     ts_code  symbol     name  area industry list_date composition
0     000001  000001     平安银行    深圳       银行  19910403        None
1     000002  000002      万科A    深圳     全国地产  19910129        None
2     000004  000004     国华网安    深圳     软件服务  19910114        None
3     000005  000005     ST星源    深圳     环境保护  19901210        None
4     000006  000006     深振业A    深圳     区域地产  19920427      zz1000
...      ...     ...      ...   ...      ...       ...         ...
4688  871553  871553     凯腾精工  None     None  20210806        None
4689  871642  871642     通易航天  None     None  20210816        None
4690  871981  871981     晶赛科技  None     None  20211115        None
4691  872925  872925     锦好医疗  None     None  20211025        None
4692  689009  689009  九号公司-WD    北京      摩托车  20201029        kc50

[4693 rows x 7 columns]

In [8]:
sql_query = 'select compositiontype,security_name_abbr,secucode from stockcomposition order by compositiontype;'
# 使用pandas的read_sql_query函数执行SQL语句，并存入DataFrame
df_read = pd.read_sql_query(sql_query, engine)
print(df_read)

    compositiontype security_name_abbr   secucode
0             hs300               国电南瑞  600406.SH
1             hs300               华鲁恒升  600426.SH
2             hs300                片仔癀  600436.SH
3             hs300               通威股份  600438.SH
4             hs300               中国动力  600482.SH
..              ...                ...        ...
894           zz500               南微医学  688029.SH
895           zz500               虹软科技  688088.SH
896           zz500               晶晨股份  688099.SH
897           zz500               道通科技  688208.SH
898           zz500               微芯生物  688321.SH

[899 rows x 3 columns]

In [9]:
sql_query = 'select ts_code,full_value,limit_value from stockvaluebase order by full_value desc ;'
df_read_marketvalue = pd.read_sql_query(sql_query, engine)
sql_query = "select substring(ts_code,1,6)as ts_code from stocktradedailyinfo where trade_date = '20211022';"
df_read_info = pd.read_sql_query(sql_query, engine)

In [10]:
print(df_read_marketvalue.shape[0])
print(df_read_info)

4312
     ts_code
0     000001
1     000002
2     000004
3     000005
4     000006
...      ...
4499  688799
4500  688800
4501  688819
4502  688981
4503  689009

[4504 rows x 1 columns]

In [11]:
df_differ = df_read_marketvalue.loc[~df_read_marketvalue.ts_code.isin(df_read_info.ts_code)]

pandas.set_option('display.max_rows', df_differ.shape[0]+1)
设置显示的最大行数

In [12]:
pd.set_option('display.max_rows', df_differ.shape[0]+1)
df_differ

     ts_code        full_value     limit_value
3     600941 1410964550424.000 26439459222.000
240   835185   58731724150.000 57773774652.000
270   600803   52107579763.890 26225408514.050
368   600927   38688666678.480  3868866678.480
386   301177   37152928800.000  3175148961.360
580   301155   25882629370.680  6137197011.640
629   600935   23850332321.600  2624732000.000
862   301090   17989705284.480  2035607553.920
863   836077   17987022691.350  5113561579.550
900   835368   17193582060.000  8862536714.700
978   300438   15666594445.840 11913172180.520
1179  603071   12425645423.340  2236616186.000
1219  301089   11975040000.000  2614211297.280
1268  301087   11323200000.000  2614877899.200
1367  301180   10324258100.000   969597817.500
1449  836239    9395516649.930  3560640255.090
1556  830946    8623750468.000  8619205468.000
1715  301221    7783978092.000  1792198129.480
1723  603213    7739440000.000  1161628000.000
1737  301096    7635485023.530  1731133771.380
1771  301149    7456200312.120  1073938542.480
1883  603219    6925270000.000   708070000.000
1900  301101    6842007502.000  1509134281.270
1905  833819    6827706000.000  6728949900.000
1967  301136    6552626764.200  1339346881.640
1970  301179    6545880000.000  1427220829.440
1989  301211    6458400000.000  1473798457.170
1992  605138    6450051600.000   645051600.000
1997  301127    6412334312.000  1505257348.640
2050  301093    6253920015.480  1435054700.160
2064  603176    6211244600.000  1552744600.000
2093  301196    6090240000.000  1443927388.800
2094  301166    6088333427.000  1414624039.250
2120  301190    6005529270.000  1423946604.260
2181  301100    5826000000.000  1381401665.670
2220  603230    5688185070.000  1422050290.000
2268  301118    5495638400.000  1239879547.200
2269  301091    5492800000.000  1155783990.400
2273  002096    5489773208.000  5355073639.000
2279  301213    5481599931.480  1370400000.000
2289  301189    5446092441.000  1348628165.400
2299  301168    5412000000.000  1283140551.000
2330  301099    5332800000.000  1087568832.240
2363  301138    5230800000.000  1240251798.120
2367  301088    5228040000.000  1201455734.820
2385  832317    5196718800.000  2458218000.000
2402  301111    5164800000.000  1135669666.080
2455  430047    4990653938.200  2867105591.200
2501  301188    4850396700.000   955607935.910
2518  603216    4816793600.000  1204633600.000
2552  001267    4739000000.000  1937972482.200
2561  301092    4717333356.920  1118521045.380
2600  301108    4624899135.100  1096554709.400
2611  001317    4594296000.000  1148574000.000
2613  301129    4591227800.000  1148118600.000
2804  833994    4089141000.000  2306779124.300
2859  834599    3995795750.000  1903729253.910
2875  301199    3961531400.000   939421702.940
2918  301126    3874046932.000   918563570.680
2990  605566    3736186800.000   934186800.000
3013  301169    3695064440.100   923766135.600
3086  301185    3559288320.000   844041520.000
3091  839729    3545349500.000  1040772033.990
3109  835640    3519900000.000  3138420675.000
3129  301082    3485161279.600   732578702.240
3131  301159    3481523500.000   870943500.000
3134  301193    3474000000.000   777886181.550
3136  001234    3463467749.000   865867749.000
3199  603048    3379708800.000   844927200.000
3296  301133    3187142344.640   719253457.640
3356  001296    3075079928.100   768775500.000
3368  301167    3054400000.000   763600000.000
3387  301198    3031000000.000   718558048.530
3388  837344    3025760400.000   790637501.880
3431  301098    2952576000.000   642713052.960
3446  301182    2936935105.000   696435368.700
3458  301128    2923693632.540   730925169.000
3473  301186    2895801115.600   724360000.000
3583  301178    2730611520.000   682652880.000
3626  301119    2664800000.000   666200000.000
3649  301113    2639000000.000   659750000.000
3665  001288    2622400000.000   655600000.000
3783  831961    2409344647.360  1376676853.920
3795  835305    2389389056.250   777489634.900
3813  300069    2365740000.000  2365740000.000
3871  430510    2276357839.400  1088626339.400
3934  830799    2146731062.500  1195000598.750
3940  871981    2135642000.000   496966474.000
3979  835670    2070556800.000  1043179082.400
3982  833509    2066712598.440   688693564.440
4002  831445    2019404790.000  1181551626.450
4008  833874    2010987000.000   502746750.000
4013  836720    1999768680.000   459789635.760
4085  839167    1808100000.000  1034381250.000
4086  833523    1807060574.700   855831263.340
4104  831305    1767276000.000   447794550.000
4112  834021    1738799906.160  1293880824.000
4120  835174    1714666077.900   504926631.750
4133  870436    1683562320.000   436251420.000
4157  832885    1626756820.000   526638819.200
4185  832278    1555840000.000   501217392.000
4186  837212    1554365000.000   432350800.000
4193  833266    1534720000.000   795608440.000
4211  831370    1470144000.000   718361150.400
4212  831726    1464239400.000   361653733.250
4220  832089    1427041200.000   592884435.000
4221  832735    1425846240.000   433478703.840
4223  834682    1418560000.000   545143742.000
4233  836675    1368748800.000   625555928.700
4234  831010    1367135000.000   525814550.250
4237  430090    1349334773.600   782427738.400
4241  430489    1316831280.000   808529387.920
4244  839680    1309848045.000   687208442.850
4246  836433    1301579784.960   627285917.440
4247  837092    1298939520.000   301981200.000
4248  830964    1298203760.000   873884652.340
4251  832171    1276303198.700   391884498.300
4252  831039    1275167800.000   364908391.000
4253  836892    1266104293.260   301291826.320
4255  831768    1235096100.000   626619000.000
4256  430418    1228344000.000   606413712.240
4257  836826    1222046359.200   453822825.600
4260  832566    1193007191.200   626521717.800
4262  831832    1189225200.000   624636483.980
4263  830832    1172554659.250   923986974.950
4264  833454    1158202000.000   326398062.980
4266  835184    1137215000.000   507098686.500
4267  871642    1136670554.650   554617650.050
4268  833873    1133529944.780   554703583.420
4273  430198    1096033074.480   570813857.730
4275  834475    1085198400.000   299710170.000
4277  836263    1081890800.000   490174760.000
4281  872925    1018656000.000   310053629.600
4283  838030     996137023.170   486226766.780
4284  871245     994012500.000   209214266.090
4285  830839     993600000.000   246276180.000
4289  838275     969679480.000   273733460.000
4291  838163     938700000.000   245490537.500
4293  838924     901380000.000   410424464.880
4294  836260     879139500.000   272623120.140
4295  833427     876719880.000   219632808.000
4296  834415     806933643.820   460537997.720
4297  871553     797482053.000   347392631.850
4298  832000     772934786.250   285526106.250
4300  832145     761234500.000   266189300.000
4301  839946     750546863.080   308702803.720
4302  832225     715952740.800   363935792.000
4303  837242     712299660.000   273244056.000
4305  871396     662070165.130   327518355.890
4306  831856     656184020.030   200696641.530
4307  836149     646120080.000   349078939.440
4308  834765     616075439.400   181059610.050
4309  835508     595000000.000   309846250.000

In [17]:
result0=pd.merge(df_read_marketvalue,df_read_info,on=['ts_code'])

In [18]:
print(result0)

     ts_code        full_value       limit_value
0     600519 2352858479400.000 2352858479400.000
1     601398 1732134409452.540 1310315352939.540
2     601939 1582569487486.380   60727852645.980
3     600036 1304118216027.710 1066722716423.590
4     300750 1207614006720.000 1056227937831.000
...      ...               ...               ...
4154  600385     936037175.360     902330504.480
4155  603157     761263582.380     462318207.530
4156  600091     695485913.160     695485913.160
4157  000835     493408164.740     457371450.000
4158  603996     411205500.000     411205500.000

[4159 rows x 3 columns]

上面是按市值、或者流动市值排序的表

In [15]:
query_code_gainian = "select f12 as ts_code,f14,gainianpojo_f12 as f12 from gainianeachpojo "
query_gainian = "select f12,f14 from gainianpojo"
result1 = pd.read_sql_query(query_code_gainian, engine)
result2 = pd.read_sql_query(query_gainian, engine)

result = pd.merge(result1,result2,on=['f12'])
print(result)

      ts_code f14_x     f12 f14_y
0      002182  云海金属  BK0490    军工
1      002497  雅化集团  BK0490    军工
2      300047  天源迪科  BK0490    军工
3      002756  永兴材料  BK0490    军工
4      000932  华菱钢铁  BK0490    军工
...       ...   ...     ...   ...
20984  002624  完美世界  BK0853  电子竞技
20985  300043  星辉娱乐  BK0853  电子竞技
20986  300144  宋城演艺  BK0853  电子竞技
20987  300052   中青宝  BK0853  电子竞技
20988  300315  掌趣科技  BK0853  电子竞技

[20989 rows x 4 columns]

In [16]:
result['f14_y'] = result.groupby(['ts_code'])['f14_y'].transform(lambda x: '，'.join(x))

pandas的操作很多时候要注意带原有的引用，
result['f14_y'] = result.groupby(['code_f12'])['f14_y'].transform(lambda x: '，'.join(x))
像这里的result['f14_y'] = 左操作
result.drop_duplicates(subset=None, keep="first", inplace=True)
以及

In [19]:
result.drop('f12',axis=1,inplace=True)
result.drop_duplicates(subset=None, keep="first", inplace=True)
show(result)

      ts_code f14_x                                              f14_y
0      002182  云海金属  军工，新材料，机构重仓，基本金属，预盈预增，长江三角，融资融券，3D打印，特斯拉，苹果概念，...
1      002497  雅化集团  军工，成渝特区，深成500，预盈预增，锂电池，稀土永磁，融资融券，智能机器，特斯拉，IPO受...
2      300047  天源迪科  军工，深圳特区，云计算，大数据，互联金融，网络安全，在线教育，阿里概念，国产软件，创业板综，...
3      002756  永兴材料  军工，基金重仓，股权激励，深成500，预盈预增，锂电池，核能核电，融资融券，参股保险，深股通...
4      000932  华菱钢铁  军工，深成500，预盈预增，核能核电，融资融券，页岩气，国企改革，中证500，深股通，MSCI中国
...       ...   ...                                                ...
20736  300528  幸福蓝海                                               影视概念
20898  603339  四方科技                                               冷链物流
20899  002454  松芝股份                                               冷链物流
20900  603967  中创物流                                               冷链物流
20928  001213  中铁特货                                               冷链物流

[4519 rows x 3 columns]

result['f12'] = result.groupby(['code_f12'])['f12'].transform(lambda x: '，'.join(x))
result['f14_y'] = result.groupby(['code_f12'])['f14_y'].transform(lambda x: '，'.join(x))

准备拼接基础表A、基础表B

In [13]:
print(list(result))

['ts_code', 'f14_x', 'f14_y']

In [14]:
target_df = pd.merge(result0,result[["ts_code","f14_y"]],on=['ts_code'])

target_df.loc(target_df['ts_code']=='600308')
这里会报错TypeError: unhashable type: 'Series'
loc是内置函数？
target_df.loc[target_df['ts_code']=='600308']

target_df.loc[target_df['ts_code']=='600308']
通过指定列值，获取行值

In [15]:
profile = ProfileReport(target_df, title="Pandas Profiling Report",explorative=True)

In [ ]:
profile

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [ ]:
profile.to_widgets()

In [ ]:
target_df.loc[target_df['ts_code']=='000858']