In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from pandas_profiling import ProfileReport
from pandasgui import show

In [5]:
engine = create_engine('mysql+pymysql://root:123456@localhost:3306/stockdata')
#转成十进制显示，不成功
#pd.set_option('display.float_format', '{:.2g}'.format)
#pd.Series(data=[0.00000001])
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [6]:
sql_query = 'select * from stockinfobase;'

In [7]:
sql_query = 'select * from stockinfobase;'
df_read = pd.read_sql_query(sql_query, engine)
df_read["ts_code"] = df_read["ts_code"].apply(lambda x:x[0:6])
df_read

     ts_code  symbol     name  area industry list_date composition
0     000001  000001     平安银行    深圳       银行  19910403        None
1     000002  000002      万科A    深圳     全国地产  19910129        None
2     000004  000004     国华网安    深圳     软件服务  19910114        None
3     000005  000005     ST星源    深圳     环境保护  19901210        None
4     000006  000006     深振业A    深圳     区域地产  19920427      zz1000
...      ...     ...      ...   ...      ...       ...         ...
4688  871553  871553     凯腾精工  None     None  20210806        None
4689  871642  871642     通易航天  None     None  20210816        None
4690  871981  871981     晶赛科技  None     None  20211115        None
4691  872925  872925     锦好医疗  None     None  20211025        None
4692  689009  689009  九号公司-WD    北京      摩托车  20201029        kc50

[4693 rows x 7 columns]

In [8]:
sql_query = 'select compositiontype,security_name_abbr,secucode from stockcomposition order by compositiontype;'
# 使用pandas的read_sql_query函数执行SQL语句，并存入DataFrame
df_read = pd.read_sql_query(sql_query, engine)
print(df_read)

    compositiontype security_name_abbr   secucode
0             hs300               国电南瑞  600406.SH
1             hs300               华鲁恒升  600426.SH
2             hs300                片仔癀  600436.SH
3             hs300               通威股份  600438.SH
4             hs300               中国动力  600482.SH
..              ...                ...        ...
894           zz500               南微医学  688029.SH
895           zz500               虹软科技  688088.SH
896           zz500               晶晨股份  688099.SH
897           zz500               道通科技  688208.SH
898           zz500               微芯生物  688321.SH

[899 rows x 3 columns]

In [9]:
sql_query = 'select ts_code,full_value,limit_value from stockvaluebase order by full_value desc ;'
df_read_marketvalue = pd.read_sql_query(sql_query, engine)
sql_query = "select substring(ts_code,1,6)as ts_code from stocktradedailyinfo where trade_date = '20211022';"
df_read_info = pd.read_sql_query(sql_query, engine)

In [10]:
print(df_read_marketvalue.shape[0])
print(df_read_info)

4312
     ts_code
0     000001
1     000002
2     000004
3     000005
4     000006
...      ...
4499  688799
4500  688800
4501  688819
4502  688981
4503  689009

[4504 rows x 1 columns]

In [11]:
df_differ = df_read_marketvalue.loc[~df_read_marketvalue.ts_code.isin(df_read_info.ts_code)]

pandas.set_option('display.max_rows', df_differ.shape[0]+1)
设置显示的最大行数

In [12]:
pd.set_option('display.max_rows', df_differ.shape[0]+1)
df_differ

     ts_code        full_value     limit_value
3     600941 1344691973055.600 25197605834.300
273   835185   51378123977.500 50540116090.200
280   600803   50200857839.160 25265767678.200
362   600927   39008888900.800  3900888900.800
388   301177   37224930600.000  3181302350.820
541   301155   27254369596.860  6462459174.780
632   600935   23885406339.720  2628591900.000
847   301090   18093264443.190  2047325689.510
898   835368   16972704400.000  8748683978.000
917   836077   16495804512.510  4689620601.830
926   300438   16325510426.960 12414224247.880
1144  301089   12594960000.000  2749542942.720
1179  603071   12202463646.540  2196443466.000
1291  301087   10840000000.000  2503292040.000
1334  301180   10440261000.000   980492175.000
1396  830946    9840467737.000  9835281487.000
1660  836239    7875522175.030  2984604501.390
1675  301096    7799898357.370  1768409920.020
1690  603213    7709004000.000  1157059800.000
1737  301149    7473400312.840  1076415909.360
1788  301221    7243990083.000  1667870248.770
1817  603219    7073640000.000   723240000.000
1900  301211    6720000000.000  1533495236.000
1902  833819    6717384000.000  6620223600.000
1909  301101    6686171478.000  1474761696.030
1941  301166    6524266767.040  1515913134.160
1985  605138    6366717600.000   636717600.000
2042  301179    6202680000.000  1352391747.840
2047  301093    6158306681.910  1413114802.720
2051  301196    6140160000.000  1455762859.200
2061  301136    6101290859.400  1247094513.480
2082  301127    6043338092.000  1418637680.240
2151  301100    5814000000.000  1378556348.130
2164  603176    5786584000.000  1446584000.000
2175  301190    5747965470.000  1362876699.860
2212  603230    5624550930.000  1406141710.000
2248  301213    5467999931.650  1367000000.000
2268  301118    5409235700.000  1220386099.350
2272  301091    5404800000.000  1137267206.400
2289  301189    5353026304.350  1325581987.890
2302  002096    5303485890.000  5173357151.250
2306  301138    5288400000.000  1253909078.760
2342  832317    5196718800.000  2458218000.000
2355  301088    5161920000.000  1186260699.360
2363  301099    5134400000.000  1047107225.520
2368  301168    5116800000.000  1213151066.400
2405  301111    5025600000.000  1105061468.760
2445  430047    4939203897.600  2837547801.600
2495  301092    4800000024.000  1138122036.000
2522  301188    4734191700.000   932713639.410
2543  603216    4677336800.000  1169756800.000
2588  001267    4557000000.000  1863545178.600
2609  301108    4503896506.280  1067865218.320
2635  001317    4434216000.000  1108554000.000
2642  301129    4413707200.000  1103726400.000
2787  833994    4089141000.000  2306779124.300
2868  301126    3919478186.000   929335638.140
2875  301199    3904195200.000   925825225.920
2917  834599    3801210000.000  1811022166.800
2969  605566    3704185200.000   926185200.000
3003  603048    3647030400.000   911757600.000
3059  301169    3543360914.700   885840253.200
3080  301185    3497921280.000   829489080.000
3127  301082    3433433468.400   721705548.960
3132  839729    3430542500.000  1007069315.850
3152  301193    3386400000.000   758271089.580
3173  001234    3346134379.000   836534379.000
3217  301159    3271131500.000   818311500.000
3251  835640    3215780640.000  2867261128.680
3266  301133    3181837513.840   718056298.090
3345  001296    3049598111.000   762405000.000
3385  301167    2988800000.000   747200000.000
3389  301198    2982000000.000   706941636.660
3391  301098    2977920000.000   648229903.200
3400  837344    2966073500.000   775041190.450
3442  301128    2897094448.620   724275357.000
3458  301182    2874651000.000   681665940.000
3522  301186    2776476647.520   694512000.000
3575  301119    2700000000.000   675000000.000
3585  001288    2683200000.000   670800000.000
3610  301178    2655232320.000   663808080.000
3619  301113    2646000000.000   661500000.000
3808  300069    2328300000.000  2328300000.000
3812  835305    2323200993.750   755952525.900
3890  831961    2204902081.480  1259860296.060
3911  430510    2169776923.220  1037655973.220
3958  871981    2082114400.000   484510536.800
3963  830799    2069307975.000  1151902216.500
3967  835670    2063920400.000  1039835559.700
3988  833874    2010987000.000   502746750.000
3998  831445    1996391630.000  1168086650.650
4027  833509    1942454955.060   647287014.060
4073  836720    1815724035.000   417473831.370
4117  834021    1704149908.030  1268096967.000
4123  833523    1690953621.000   800842536.200
4129  831305    1676107000.000   424694037.500
4131  839167    1673784000.000   957541500.000
4150  835174    1625557447.080   478686350.100
4157  870436    1599478680.000   414463330.000
4192  832278    1511840000.000   487042692.000
4201  833266    1473280000.000   763757560.000
4209  832885    1433911570.000   464207979.200
4213  837212    1422801000.000   395755920.000
4214  831370    1421139200.000   695543298.720
4220  832735    1400384700.000   425738012.700
4221  831726    1394757000.000   344492216.250
4224  834682    1381120000.000   530755784.000
4227  832089    1375383600.000   571422555.000
4238  836675    1303814400.000   595879118.100
4239  831010    1299130000.000   499659109.500
4245  430090    1242001325.700   720189168.300
4246  430489    1234955760.000   758258130.640
4247  830964    1232901760.000   829926671.840
4248  831039    1232098200.000   352583379.000
4249  839680    1228778166.000   644675337.180
4250  836433    1227494328.450   591581027.050
4253  836892    1202722715.250   286209063.000
4254  837092    1195484160.000   277929600.000
4256  430418    1173536000.000   579355882.560
4258  831832    1157929800.000   608198681.770
4259  832566    1155634115.800   606894808.950
4261  832171    1149341100.400   352901223.600
4262  831768    1148539500.000   582705000.000
4263  836826    1126407948.480   418306256.640
4264  830832    1123987306.500   885715325.100
4265  835184    1110457000.000   495166952.700
4270  833454    1062561000.000   299445046.890
4273  430198    1042658870.400   543016580.400
4274  871642    1040405295.950   507646774.150
4275  833873    1038430003.540   508165529.060
4277  834475    1021363200.000   282080160.000
4278  836263    1016109600.000   460371120.000
4283  830839     963600000.000   238840305.000
4284  838030     962157483.780   469640934.520
4285  871245     943800000.000   198645816.160
4287  872925     942354000.000   286829192.650
4288  838275     934418408.000   263779516.000
4289  838163     932400000.000   243842950.000
4293  836260     868784500.000   269412011.540
4294  838924     864030000.000   393417926.280
4295  833427     833832360.000   208888776.000
4296  834415     778016226.550   444034076.300
4298  871553     771617770.200   336125843.790
4299  832145     718904500.000   251387300.000
4300  832000     712036894.000   263030110.000
4301  839946     696550685.880   286493968.920
4302  832225     694799591.640   353183143.600
4303  837242     681736890.000   261519924.000
4305  831856     628294262.390   410083358.390
4306  871396     627448635.980   310391490.940
4307  834765     600760569.720   176558693.190
4308  836149     587113680.000   317199584.240
4309  835508     573500000.000   298650125.000

In [13]:
result0=pd.merge(df_read_marketvalue,df_read_info,on=['ts_code'])

In [14]:
print(result0)

     ts_code        full_value       limit_value
0     600519 2374992684636.000 2374992684636.000
1     601398 1696493783743.640 1283354131685.640
2     601939 1552568170188.060   59576613733.260
3     600036 1266540646082.220 1035985589224.380
4     300750 1228358582400.000 1074371980770.000
...      ...               ...               ...
4154  600890     891960184.500     891960184.500
4155  603157     772217015.220     468970268.070
4156  600091     647370535.520     647370535.520
4157  000835     421520882.460     390734550.000
4158  603996     399199500.000     399199500.000

[4159 rows x 3 columns]

上面是按市值、或者流动市值排序的表

In [15]:
query_code_gainian = "select f12 as ts_code,f14,gainianpojo_f12 as f12 from gainianeachpojo "
query_gainian = "select f12,f14 from gainianpojo"
result1 = pd.read_sql_query(query_code_gainian, engine)
result2 = pd.read_sql_query(query_gainian, engine)

result = pd.merge(result1,result2,on=['f12'])
print(result)

      ts_code f14_x     f12 f14_y
0      002182  云海金属  BK0490    军工
1      002497  雅化集团  BK0490    军工
2      300047  天源迪科  BK0490    军工
3      002756  永兴材料  BK0490    军工
4      000932  华菱钢铁  BK0490    军工
...       ...   ...     ...   ...
20984  002624  完美世界  BK0853  电子竞技
20985  300043  星辉娱乐  BK0853  电子竞技
20986  300144  宋城演艺  BK0853  电子竞技
20987  300052   中青宝  BK0853  电子竞技
20988  300315  掌趣科技  BK0853  电子竞技

[20989 rows x 4 columns]

In [16]:
result.type

AttributeError: 'DataFrame' object has no attribute 'type'

In [13]:
result['f14_y'] = result.groupby(['ts_code'])['f14_y'].transform(lambda x: '，'.join(x))

pandas的操作很多时候要注意带原有的引用，
result['f14_y'] = result.groupby(['code_f12'])['f14_y'].transform(lambda x: '，'.join(x))
像这里的result['f14_y'] = 左操作
result.drop_duplicates(subset=None, keep="first", inplace=True)
以及

In [14]:
result.drop('f12',axis=1,inplace=True)
result.drop_duplicates(subset=None, keep="first", inplace=True)
show(result)

PandasGUI INFO — pandasgui.gui — Opening PandasGUI

PandasGUI ERROR — pandasgui.store — invalid syntax (<unknown>, line 1)
Traceback (most recent call last):
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandasgui\store.py", line 594, in apply_filters
    df = df.query(filt.expr)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\frame.py", line 4060, in query
    res = self.eval(expr, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\frame.py", line 4191, in eval
    return _eval(expr, inplace=inplace, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\eval.py", line 348, in eval
    parsed_expr = Expr(expr, engine=engine, parser=parser, env=env)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 806, in __init__
    self.terms = self.parse()
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 825, in parse
    return self._visitor.visit(self.expr)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 407, in visit
    raise e
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 403, in visit
    node = ast.fix_missing_locations(ast.parse(clean))
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\ast.py", line 50, in parse
    return compile(source, filename, mode, flags,
  File "<unknown>", line 1
    ts_code ==000 333
                  ^
SyntaxError: invalid syntax
PandasGUI ERROR — pandasgui.store — invalid syntax (<unknown>, line 1)
Traceback (most recent call last):
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandasgui\store.py", line 594, in apply_filters
    df = df.query(filt.expr)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\frame.py", line 4060, in query
    res = self.eval(expr, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\frame.py", line 4191, in eval
    return _eval(expr, inplace=inplace, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\eval.py", line 348, in eval
    parsed_expr = Expr(expr, engine=engine, parser=parser, env=env)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 806, in __init__
    self.terms = self.parse()
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 825, in parse
    return self._visitor.visit(self.expr)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 407, in visit
    raise e
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 403, in visit
    node = ast.fix_missing_locations(ast.parse(clean))
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\ast.py", line 50, in parse
    return compile(source, filename, mode, flags,
  File "<unknown>", line 1
    ts_code =000 333
                 ^
SyntaxError: invalid syntax
PandasGUI ERROR — pandasgui.store — cannot assign without a target object
Traceback (most recent call last):
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandasgui\store.py", line 594, in apply_filters
    df = df.query(filt.expr)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\frame.py", line 4060, in query
    res = self.eval(expr, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\frame.py", line 4191, in eval
    return _eval(expr, inplace=inplace, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\eval.py", line 348, in eval
    parsed_expr = Expr(expr, engine=engine, parser=parser, env=env)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 806, in __init__
    self.terms = self.parse()
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 825, in parse
    return self._visitor.visit(self.expr)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 411, in visit
    return visitor(node, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 417, in visit_Module
    return self.visit(expr, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 411, in visit
    return visitor(node, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 619, in visit_Assign
    raise ValueError("cannot assign without a target object")
ValueError: cannot assign without a target object
PandasGUI ERROR — pandasgui.store — cannot assign without a target object
Traceback (most recent call last):
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandasgui\store.py", line 594, in apply_filters
    df = df.query(filt.expr)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\frame.py", line 4060, in query
    res = self.eval(expr, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\frame.py", line 4191, in eval
    return _eval(expr, inplace=inplace, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\eval.py", line 348, in eval
    parsed_expr = Expr(expr, engine=engine, parser=parser, env=env)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 806, in __init__
    self.terms = self.parse()
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 825, in parse
    return self._visitor.visit(self.expr)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 411, in visit
    return visitor(node, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 417, in visit_Module
    return self.visit(expr, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 411, in visit
    return visitor(node, **kwargs)
  File "d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\computation\expr.py", line 619, in visit_Assign
    raise ValueError("cannot assign without a target object")
ValueError: cannot assign without a target object
d:\ProgramData\Anaconda3\envs\pytorch3.9\lib\site-packages\pandas\core\apply.py:507: FutureWarning:

Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.

result['f12'] = result.groupby(['code_f12'])['f12'].transform(lambda x: '，'.join(x))
result['f14_y'] = result.groupby(['code_f12'])['f14_y'].transform(lambda x: '，'.join(x))

准备拼接基础表A、基础表B

In [13]:
print(list(result))

['ts_code', 'f14_x', 'f14_y']

In [14]:
target_df = pd.merge(result0,result[["ts_code","f14_y"]],on=['ts_code'])

target_df.loc(target_df['ts_code']=='600308')
这里会报错TypeError: unhashable type: 'Series'
loc是内置函数？
target_df.loc[target_df['ts_code']=='600308']

target_df.loc[target_df['ts_code']=='600308']
通过指定列值，获取行值

In [15]:
profile = ProfileReport(target_df, title="Pandas Profiling Report",explorative=True)

In [ ]:
profile

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [ ]:
profile.to_widgets()

In [ ]:
target_df.loc[target_df['ts_code']=='000858']