In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pandas_profiling import ProfileReport
from pandasgui import show
import dtale
import numpy as np

In [2]:
engine = create_engine('mysql+pymysql://root:123456@localhost:3306/stockdata')
#转成十进制显示，不成功
#pd.set_option('display.float_format', '{:.2g}'.format)
#pd.Series(data=[0.00000001])
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
sql_gainian_eachstock = "select f12,f14,gainianpojo_f12 from gainianeachpojo"
df_read = pd.read_sql_query(sql_gainian_eachstock, engine)
sql_stock_value = "select ts_code,full_value,limit_value from stockvaluebase"
df_read1 = pd.read_sql_query(sql_stock_value, engine)

In [4]:

df_read1["full_value"]=df_read1["full_value"].apply(lambda x:x/100000000)
df_read1["limit_value"]=df_read1["limit_value"].apply(lambda x:x/100000000)

In [5]:
df_read1

     ts_code  full_value  limit_value
0     000001    3159.283     3159.257
1     000002    2302.988     1925.047
2     000004      36.676       27.349
3     000005      23.500       23.486
4     000006      60.075       60.075
...      ...         ...          ...
4307  871396       6.274        3.104
4308  871553       7.716        3.361
4309  871642      10.404        5.076
4310  871981      20.821        4.845
4311  872925       9.424        2.868

[4312 rows x 3 columns]

In [6]:
#module 'pandas.core' has no attribute 'index'

In [7]:
dtale.show(df_read1)

In [8]:
show(df_read1)

PandasGUI INFO — pandasgui.gui — Opening PandasGUI
2022-02-16 14:37:21,564 - INFO     - Opening PandasGUI